::ng-deep body{
  margin: 0;
  padding: 0;
  background-image: url("~src/assets/sky.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

#login-box{
  position: relative;
  margin: 10% auto;
  height: 400px;
  width:600px;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
}
.left-box{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  background-color: rgba(75, 157, 255, 0.5);
}
h1{
  margin: 0 0 20px 0;
  font-weight: 300px;
  font-size: 28px;
  color: #e2e2e2;
  text-align:center;
}
input[type="text"], input[type="password"]
{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  outline: none;
  border-bottom: 1px solid #aaa;
  font-family: sans-serif;
  font-weight: 400px;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="submit"]
{
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: #f44336;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.2s ease;
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus{
  background: #a0011e;
  transition: 0.2s ease;
}

.right-box{
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
  /*background-image: url("~src/assets/social-sky.jpg");*/
  /*background-size: cover;*/
  /*background-position: left;*/
}
.or{
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  line-height: 40px;
  text-align: center;
}
.right-box .signinwith{
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: white;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
button.social{
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}
.facebook{
  background: #32508e;
}
.twitter{
  background: #55acee;
}
.google{
  background: #dd4b39;
}
